.sticky {
    position: fixed;
    top: 0;
    width: 80%;
    z-index: 10;
    background-color: whitesmoke;
  }
  .results{
      padding-top: 70px;
  }

.calendar > div > div{
    background-color: white;
    text-align: center;
    font-weight: bold;
}

.month-label{
    background-color: lightgray;
    text-align: center;
    font-weight: bold;
    width: 223px !important;
    background-image: linear-gradient(white, #c4dd92);
}

.cell{
    border: solid 1px #effcd8;
    text-align: left;
}

.invalid-date{
    background-color: lightgray !important;
}

.valid-date{
    background-color: white;
}

.weekend{
    background-color: #fcfc05 !important;
}

.weekday{
    color: #445983 !important;
    background-color: #c4dd92 !important;
}

.hollyDay{
    background-color: #ff7900 !important;
}

  .field-spinner {
    padding-right: 40px;
}

    .field-spinner > input {
        margin-top: 0px !important;
    }

